body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#main {
	margin-top: 110px;
	text-align: center;
	color: white;
}

#main .time {
	font-size: 130px;
}

#main .date {
	font-size: 30px;
	margin-left: -35px;
}

#destination input{
	width: 400px;
	padding: 10px;
	border: 1px solid white;
	background-color: black;
	font-size: 30px;
	color: white;

	margin-left: -35px;
}

.textfield {
	border-radius: 3px;
	margin-bottom: 30px;
}
